@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(ubuntu-mono.woff) format('woff');
}
.quote{
	margin-left: 75px;
	margin-right: 25px;
	padding:10px;
	border-left-style:solid;
	border-left-width:5px;
	border-left-color:rgba(0,0,0,0.25);
	background-color:rgba(0,0,0,0.05);
	font-family: 'Ubuntu Mono', sans-serif;
}